* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header {
    height:100px;
    background-color: red;
    display: flex;
    align-items: center;
}

main {
    height:calc(100vh - 200px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #7fffd4;
}

.grid-container {
    border: 2px solid black;
    height: 500px;
    width: 500px;  
    display:flex;
    flex-wrap: wrap;
}


.grid-item {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: #6495ed;
}

.bomb {
    background-color:red;
}

#play-btn {
    padding: 10px;
    background-color:#719ded;
    color:white;
    margin:20px auto;
    border-radius: 5px;
}

footer {
    height:100px;
    background-color: red;
}

.hidden {
    display:none;
}

